body
 {
    background-color: #7fffd4;
    display: flex;
    flex-direction: row;
    justify-content: center;
     font-size: 30px;
}

form {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
   
}



.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
    margin-left:20px;
    margin-right: 20px;
    
}

h2 {
    color: rgb(15, 0, 0);
    font-size: 35px;
}

label {
    color: black;
    font-size: 25px;
    
}

button {
    background-color: #005f33;
    height: 40px;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
input[type="text"i]{
    padding-block: 5px;
}